<div class="col-md-8 col-md-offset-2">
  <div class="row">
    <p><%= link_to 'Write post', new_post_path, class: "bt btn-primary btn-lg" %></p>
    <h1 class="text-center">Listing posts</h1>

    <% @posts.each do |p| %>
        <h3><%= p.title %></h3>
        <br>
        <%= link_to 'Read', post_path(p) %> |
        <%= link_to 'Edit', edit_post_path(p) %> |
        <%= link_to 'Delete it', post_path(p),
                    method: :delete,
                    data: {confirm: 'Are you sure?'} %>
        <br>
        <br>
    <% end %>
    <br>

    <div class="col-md-8 col-md-offset-4">
      <%= paginate @posts %>
    </div>
  </div>
</div>


